@font-face {
  font-family: "Rajdhani";
  src: url("../fonts/Rajdhani-Bold.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf");
}

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #7d1935;
  border: 1px solid black;
  box-sizing: border-box;
  color: #fec260;
  display: grid;
  gap: 20px;
  grid-template-columns: calc(100% - 80px) 60px;
  height: 80px;
  padding: 10px;
}

header h1 {
  align-items: center;
  display: flex;
  font-size: 2.67rem;
  font-family: "Rajdhani", serif;
}

header .nav-right {
  display: none;
}

header .hamburger {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

header .hamburger div {
  background-color: #fec260;
  border-radius: 5px;
  box-shadow: 0 0 3px black;
  height: 8px;
}

main.image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 270px;
}

main.image-container img {
  height: 100%;
  width: 100%;
}

main div.main-line {
  background-color: #7d1935;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main div.main-line h3 {
  color: #fec260;
  font-size: 18px;
  font-family: "Roboto,serif";
  text-align: center;
}

h3 {
  color: black;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

section img {
  height: 100%;
  width: 100%;
}

section h3 {
  border: 3px solid black;
  color: #7d1935;
  margin: 30px 0;
  text-align: center;
}

section .content {
  grid-template-rows: 130px 50px 120;
  align-items: center;
  display: grid;
  text-align: center;
  justify-content: center;
  font-family: "Open Sans";
}

section .content div {
  justify-self: center;
  padding: 10px;
}

section .content div.image {
  height: 100px;
  width: 100px;
}

section .content div.service h4 {
  color: #7d1935;
  text-align: center;
  font-size: large;
}

section .content div p {
  text-align: center;
  padding: 0 20px;
}

section .content:nth-of-type(odd) {
  background-color: #e6d9d9;
}

footer.footer-top {
  align-items: center;
  background-color: #7d1935;
  display: flex;
  height: 50px;
  justify-content: center;
}

footer.footer-top h3 {
  color: #fec260;
  font-size: 14px;
  font-family: "Open Sans", serif;
}

footer.footer-main {
  background-color: #fec260;
  height: 230px;
  width: 100%;
}

footer.footer-main ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  margin: 0 20px;
  padding-top: 5px;
}

footer.footer-main ul a {
  color: white;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  text-align: center;
  padding: 5px;
}

footer.footer-main ul a:hover {
  color: #7d1935;
}

footer.footer-main ul a:nth-child(2),
footer.footer-main ul a:nth-child(5) {
  border-right: 2px solid #7d1935;
  border-left: 2px solid #7d1935;
}

footer.footer-main div.up {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 80px;
  width: 100%;
}

footer.footer-main div.up p {
  font-family: "Open Sans", serif;
  font-size: 14px;
}

footer.footer-main div.down {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px;
  text-align: center;
}

footer.footer-main div.down p {
  font-family: "Open Sans", serif;
  font-size: 14px;
}

footer.footer-main div.down p:nth-child(2) {
  border-left: 2px solid #7d1935;
}

@media screen and (min-width: 400px) {
  main.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 290px;
  }
}

@media screen and (min-width: 500px) {
  main.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 310px;
  }
  footer.footer-top h3 {
    font-size: 18px;
  }
}

@media screen and (min-width: 600px) {
  main.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 340px;
  }
  footer.footer-top h3 {
    font-size: 20px;
  }
}

@media screen and (min-width: 700px) {
  header {
    background-color: #7d1935;
    grid-template-columns: 30% 70%;
    padding: 0;
    gap: 0;
  }
  header h1 {
    font-size: 2.45rem;
    justify-self: center;
  }
  header .nav-right {
    background-color: #7d1935;
    display: block;
    height: 100%;
  }
  header .nav-right ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100%;
    font-family: "Roboto", sans-serif;
    height: 100%;
  }
  header .nav-right ul a {
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
  }
  header .nav-right ul a:hover {
    color: #fec260;
  }
  header .hamburger {
    display: none;
  }
  main.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px;
  }
}

@media screen and (min-width: 800px) {
  main.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 460px;
  }
  body > section {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 400px 400px 50px 400px 400px 400px;
    grid-template-areas: "heading1 heading1" "content1 content2" "content3 content4" "heading2 heading2" "content5 content6" "content7 content8" "content9 content10";
  }
  body > section h3 {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
  }
  body > section h3:nth-of-type(1) {
    grid-area: heading1;
  }
  body > section h3:nth-of-type(2) {
    grid-area: heading2;
  }
  body > section .content:nth-of-type(1) {
    grid-area: content1;
  }
  body > section .content:nth-of-type(2) {
    grid-area: content2;
  }
  body > section .content:nth-of-type(3) {
    grid-area: content3;
  }
  body > section .content:nth-of-type(4) {
    grid-area: content4;
  }
  body > section .content:nth-of-type(5) {
    grid-area: content5;
  }
  body > section .content:nth-of-type(6) {
    grid-area: content6;
  }
  body > section .content:nth-of-type(7) {
    grid-area: content7;
  }
  body > section .content:nth-of-type(8) {
    grid-area: content8;
  }
  body > section .content:nth-of-type(9) {
    grid-area: content9;
  }
  body > section .content:nth-of-type(10) {
    grid-area: content10;
  }
  body > section footer.footer-main {
    height: 260px;
  }
  body > section footer.footer-main ul a {
    font-size: 18px;
  }
  body > section footer.footer-main div.up p {
    font-size: 18px;
  }
  body > section footer.footer-main div.down p {
    font-size: 18px;
  }
}
/*# sourceMappingURL=services.css.map */