@font-face {
  font-family: "Rajdhani";
  src: url("../fonts/Rajdhani-Bold.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf");
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
}

header {
  background-color: #7d1935;
  border: 1px solid black;
  box-sizing: border-box;
  color: #fec260;
  display: grid;
  gap: 20px;
  grid-template-columns: calc(100% - 80px) 60px;
  height: 80px;
  padding: 10px;
}

header h1 {
  align-items: center;
  display: flex;
  font-size: 2.67rem;
  font-family: "Rajdhani", serif;
}

header .hamburger {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

header .hamburger div {
  background-color: #fec260;
  border-radius: 5px;
  box-shadow: 0 0 3px black;
  height: 8px;
}

main {
  font-family: "Roboto", sans-serif;
}

main section img {
  height: 100%;
  width: 100%;
}

main .main-line {
  align-items: center;
  background-color: #7d1935;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 100%;
}

main .main-line h2 {
  color: #fec260;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

main .gallery {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 31%);
  grid-template-rows: 100%;
  height: 100px;
  padding: 10px;
}

main .gallery div {
  background-position: center;
  background-size: cover;
}

main .gallery .img1 {
  background-image: url("../img/img1.jpg");
}

main .gallery .img2 {
  background-image: url("../img/img2.jpg");
}

main .gallery .img3 {
  background-image: url("../img/img3.jpg");
}

main .section1,
main .section2 {
  border-top: 2px solid #7d1935;
  display: grid;
  grid-template-rows: 50% 50%;
  height: 400px;
}

main .section1 .img-container,
main .section2 .img-container {
  height: 100%;
  width: 100%;
}

main .section1 .details-container,
main .section2 .details-container {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

main .section1 .details-container > *,
main .section2 .details-container > * {
  text-align: center;
}

main .section1 .details-container h2,
main .section2 .details-container h2 {
  color: #7d1935;
  font-size: 14px;
}

main .line {
  align-items: center;
  background-color: #7d1935;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 100%;
}

main .line h3 {
  color: #fec260;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

div.aside-container aside.article1, div.aside-container aside.article2 {
  display: grid;
  grid-template-rows: 50% 50%;
  height: 350px;
}

div.aside-container aside.article1 img, div.aside-container aside.article2 img {
  height: 100%;
  width: 100%;
}

div.aside-container aside.article1 div.image-container, div.aside-container aside.article2 div.image-container {
  height: 100%;
}

div.aside-container aside.article1 div.content, div.aside-container aside.article2 div.content {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

div.aside-container aside.article1 div.content p, div.aside-container aside.article2 div.content p {
  color: #7d1935;
  font-size: 14px;
}

div.aside-container aside.aside-line {
  background-color: #7d1935;
  height: 10px;
}

div.aside-container aside.article2 {
  flex-direction: row-reverse;
}

div.aside-container aside.main-line {
  align-items: center;
  display: flex;
  background-color: #7d1935;
  height: 50px;
  justify-content: center;
}

div.aside-container aside.main-line h2 {
  color: #fec260;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

section.act {
  height: 320px;
  width: 100%;
}

section.act .republic {
  align-items: center;
  display: flex;
  justify-content: center;
}

section.act .republic p {
  color: #7d1935;
  display: block;
  font-size: 15px;
  font-family: "Open Sans", serif;
  text-align: center;
  padding: 0 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

footer.footer-top {
  align-items: center;
  background-color: #7d1935;
  display: flex;
  height: 50px;
  justify-content: center;
}

footer.footer-top h3 {
  color: #fec260;
  font-size: 15px;
  font-family: "Open Sans", serif;
}

footer.footer-main {
  background-color: #fec260;
  height: 200px;
  width: 100%;
}

footer.footer-main ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  margin: 0 20px;
  padding-top: 5px;
}

footer.footer-main ul a {
  border-right: 2px solid #7d1935;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 5px;
}

footer.footer-main ul a:hover {
  color: #7d1935;
}
/*# sourceMappingURL=style.css.map */