$mustard: #fec260;

@font-face {
    font-family: "Rajdhani";
    src: url("../fonts/Rajdhani-Bold.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Light.ttf");
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
}

header {
    background-color: #7d1935;
    border: 1px solid black;
    box-sizing: border-box;
    color: $mustard;
    display: grid;
    gap: 20px;
    grid-template-columns: calc(100% - 80px) 60px;
    height: 80px;
    padding: 10px;

    h1 {
        align-items: center;
        display: flex;
        font-size: 2.67rem;
        font-family: "Rajdhani", serif;
    }

    .hamburger {
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;

        div {
            background-color: $mustard;
            border-radius: 5px;
            box-shadow: 0 0 3px black;
            height: 8px;
        }
    }
}
main {
    font-family: "Roboto", sans-serif;

    section {
        img {
            height: 100%;
            width: 100%;
        }
    }

    .main-line {
        align-items: center;
        background-color: #7d1935;
        display: flex;
        height: 50px;
        justify-content: center;
        width: 100%;

        h2 {
            color: #fec260;
            font-family: "Open Sans", sans-serif;
            font-size: 13px;
        }
    }

    .gallery {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 31%);
        grid-template-rows: 100%;
        height: 100px;
        padding: 10px;

        div {
            background-position: center;
            background-size: cover;
        }

        .img1 {
            background-image: url("../img/img1.jpg");
        }

        .img2 {
            background-image: url("../img/img2.jpg");
        }

        .img3 {
            background-image: url("../img/img3.jpg");
        }
    }

    .section1,
    .section2 {
        border-top: 2px solid #7d1935;
        display: grid;
        grid-template-rows: 50% 50%;
        height: 400px;

        .img-container {
            height: 100%;
            width: 100%;
        }

        .details-container {
            height: 100%;
            align-items: center;
            display: flex;
            justify-content: center;

            & > * {
                text-align: center;
            }

            h2 {
                color: #7d1935;
                font-size: 14px;
            }
        }
    }

    .line {
        align-items: center;
        background-color: #7d1935;
        display: flex;
        height: 50px;
        justify-content: center;
        width: 100%;

        h3 {
            color: #fec260;
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
        }
    }
}

div.aside-container {
    aside {
        &.article1,
        &.article2 {
            display: grid;
            grid-template-rows: 50% 50%;
            height: 350px;

            img {
                height: 100%;
                width: 100%;
            }

            div {
                &.image-container {
                    height: 100%;
                }

                &.content {
                    height: 100%;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    padding: 0 20px;

                    p {
                        color: #7d1935;
                        font-size: 14px;
                    }
                }
            }
        }

        &.aside-line {
            background-color: #7d1935;
            height: 10px;
        }

        &.article2 {
            flex-direction: row-reverse;
        }

        &.main-line {
            align-items: center;
            display: flex;
            background-color: #7d1935;
            height: 50px;
            justify-content: center;

            h2 {
                color: #fec260;
                font-size: 14px;
                font-family: "Open Sans", sans-serif;
                text-align: center;
            }
        }
    }
}
section.act {
    height: 320px;
    width: 100%;

    .republic {
        align-items: center;
        display: flex;
        justify-content: center;
        p {
            color: #7d1935;
            display: block;
            font-size: 15px;
            font-family: "Open Sans", serif;
            text-align: center;
            padding: 0 10px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
}
footer {
    &.footer-top {
        align-items: center;
        background-color: #7d1935;
        display: flex;
        height: 50px;
        justify-content: center;

        h3 {
            color: #fec260;
            font-size: 15px;
            font-family: "Open Sans", serif;
        }
    }

    &.footer-main {
        background-color: #fec260;
        height: 200px;
        width: 100%;

        ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 5px;
            margin: 0 20px;
            padding-top: 5px;

            a {
                border-right: 2px solid #7d1935;
                color: white;
                text-decoration: none;
                text-align: center;
                padding: 5px;

                &:hover {
                    color: #7d1935;
                }
            }
        }
    }
}
