$mustard: #fec260;

@font-face {
    font-family: "Rajdhani";
    src: url("../fonts/Rajdhani-Bold.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Light.ttf");
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
}

header {
    background-color: #7d1935;
    border: 1px solid black;
    box-sizing: border-box;
    color: $mustard;
    display: grid;
    gap: 20px;
    grid-template-columns: calc(100% - 80px) 60px;
    height: 80px;
    padding: 10px;

    h1 {
        align-items: center;
        display: flex;
        font-size: 2.67rem;
        font-family: "Rajdhani", serif;
    }

    .nav-right {
        display: none;
    }

    .hamburger {
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;

        div {
            background-color: $mustard;
            border-radius: 5px;
            box-shadow: 0 0 3px black;
            height: 8px;
        }
    }
}
main {
    font-family: "Roboto", sans-serif;

    section {
        img {
            height: 100%;
            width: 100%;
        }
    }

    .main-line {
        align-items: center;
        background-color: #7d1935;
        display: flex;
        height: 50px;
        justify-content: center;
        width: 100%;

        h2 {
            color: #fec260;
            font-family: "Open Sans", sans-serif;
            font-size: 13px;
        }
    }

    .gallery {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 31%);
        grid-template-rows: 100%;
        height: 100px;
        padding: 10px;

        div {
            background-position: center;
            background-size: cover;
        }

        .img1 {
            background-image: url("../img/img1.jpg");
        }

        .img2 {
            background-image: url("../img/img2.jpg");
        }

        .img3 {
            background-image: url("../img/img3.jpg");
        }
    }

    .section1,
    .section2 {
        border-top: 2px solid #7d1935;
        display: grid;
        grid-template-rows: 50% 50%;
        height: 400px;

        .details-container {
            align-items: center;
            display: flex;
            justify-content: center;

            & > * {
                text-align: center;
            }

            h2 {
                color: #7d1935;
                font-size: 14px;
            }
        }
    }

    .line {
        align-items: center;
        background-color: #7d1935;
        display: flex;
        height: 50px;
        justify-content: center;
        width: 100%;

        h3 {
            color: #fec260;
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
        }
    }
}

div.aside-container {
    aside {
        &.article1,
        &.article2 {
            display: grid;
            grid-template-rows: 50% 50%;
            height: 400px;

            img {
                height: 100%;
                width: 100%;
            }

            div {
                &.content {
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    padding: 0 20px;

                    p {
                        color: #7d1935;
                        font-family: "Open Sans", sans-serif;
                        font-size: 16px;
                    }
                }
            }
        }

        &.aside-line {
            background-color: #7d1935;
            height: 10px;
        }

        &.article2 {
            flex-direction: row-reverse;
        }

        &.main-line {
            align-items: center;
            display: flex;
            background-color: #7d1935;
            height: 50px;
            justify-content: center;

            h2 {
                color: #fec260;
                font-size: 13px;
                font-family: "Open Sans", sans-serif;
                text-align: center;
            }
        }
    }
}
section.act {
    height: 320px;
    width: 100%;

    .republic {
        align-items: center;
        display: flex;
        justify-content: center;
        p {
            color: #7d1935;
            display: block;
            font-size: 14px;
            font-family: "Open Sans", serif;
            text-align: center;
            padding: 0 10px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
}
footer {
    &.footer-top {
        align-items: center;
        background-color: #7d1935;
        display: flex;
        height: 50px;
        justify-content: center;

        h3 {
            color: #fec260;
            font-size: 14px;
            font-family: "Open Sans", serif;
        }
    }

    &.footer-main {
        background-color: #fec260;
        height: 230px;
        width: 100%;

        ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 5px;
            margin: 0 20px;
            padding-top: 5px;

            a {
                color: white;
                font-size: 14px;
                font-family: "Open Sans", sans-serif;
                text-decoration: none;
                text-align: center;
                padding: 5px;

                &:hover {
                    color: #7d1935;
                }
            }

            a:nth-child(2),
            a:nth-child(5) {
                border-right: 2px solid #7d1935;
                border-left: 2px solid #7d1935;
            }
        }

        div {
            &.up {
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                height: 80px;
                width: 100%;

                p {
                    font-family: "Open Sans", serif;
                    font-size: 14px;
                }
            }

            &.down {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                margin: 50px;
                text-align: center;

                p {
                    font-family: "Open Sans", serif;
                    font-size: 14px;
                }

                p:nth-child(2) {
                    border-left: 2px solid #7d1935;
                }
            }
        }
    }
}
// MY RESPONSIVE

@media screen and (min-width: 400px) {
    header {
        h1 {
            font-size: 3.12rem;
        }
    }
    main {
        .main-line {
            h2 {
                font-size: 16px;
            }
        }

        .gallery {
            height: 150px;
            padding-left: 20px;
        }

        .section1,
        .section2 {
            height: 600px;

            .details-container {
                h2 {
                    color: #7d1935;
                    font-size: 16px;
                    padding: 0 20px;
                }
            }
        }

        .line {
            height: 60px;

            h3 {
                font-size: 16px;
            }
        }
    }

    div.aside-container {
        aside {
            &.article1,
            &.article2 {
                height: 600px;
            }

            &.aside-line {
                height: 20px;
            }

            &.main-line {
                height: 60px;

                h2 {
                    font-size: 16px;
                }
            }
        }
    }

    footer {
        &.footer-top {
            height: 60px;

            h3 {
                font-size: 16px;
            }
        }
    }
}

@media screen and (min-width: 500px) {
    header {
        grid-template-columns: calc(100% - 100px) 80px;
        height: 100px;

        h1 {
            font-size: 3.5rem;
        }
    }

    main {
        .main-line {
            h2 {
                font-size: 18px;
            }
        }

        .gallery {
            height: 180px;
            padding-left: 20px;
        }

        .section1,
        .section2 {
            .details-container {
                h2 {
                    color: #7d1935;
                    font-size: 20px;
                    padding: 0 30px;
                }
            }
        }

        .line {
            height: 60px;

            h3 {
                font-size: 18px;
            }
        }
    }
    div.aside-container {
        aside {
            &.article1,
            &.article2 {
                div {
                    &.content {
                        padding: 0 30px;

                        p {
                            color: #7d1935;
                            font-family: "Open Sans", sans-serif;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

    section.act {
        height: 320px;
        width: 100%;

        .republic {
            align-items: center;
            display: flex;
            justify-content: center;
            p {
                font-size: 18px;
                padding: 0 20px;
                margin-top: 40px;
                margin-bottom: 40px;
            }
        }
    }
}

@media screen and (min-width: 600px) {
    header {
        h1 {
            font-size: 3.8rem;
        }

        .hamburger {
            border: 2px solid white;
            padding: 18;

            div {
                box-shadow: 0 0 3px black;
                height: 8px;
            }
        }
    }
    main {
        .gallery {
            height: 190px;
            padding-left: 30px;
        }
    }
}

@media screen and (min-width: 700px) {
    header {
        background-color: #7d1935;
        grid-template-columns: 30% 70%;
        padding: 0;
        gap: 0;

        h1 {
            font-size: 2.45rem;
            justify-self: center;
        }

        .nav-right {
            background-color: maroon;
            display: block;
            height: 100%;

            ul {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: 100%;
                font-family: "Roboto", sans-serif;
                height: 100%;

                a {
                    align-items: center;
                    color: white;
                    display: flex;
                    justify-content: center;
                    text-decoration: none;

                    &:hover {
                        color: #fec260;
                    }
                }
            }
        }

        .hamburger {
            display: none;
        }
    }

    main {
        .section1,
        .section2 {
            border-top: 2px solid #7d1935;
            display: grid;
            grid-template-rows: 50% 50%;
            height: 800px;

            .details-container {
                h2 {
                    font-size: 20px;
                }
            }
        }

        .gallery {
            height: 210px;
            padding-left: 40px;
        }
    }
    div.aside-container {
        aside {
            &.article1,
            &.article2 {
                height: 800px;

                div {
                    &.content {
                        p {
                            font-size: 20px;
                            padding: 0 40px;
                        }
                    }
                }
            }
        }
    }

    section.act {
        height: 320px;

        .republic {
            align-items: center;
            display: flex;
            justify-content: center;
            height: 320px;
            p {
                font-size: 20px;
            }
        }
    }
}
@media screen and (min-width: 800px) {
    header {
        background-color: #7d1935;
        grid-template-columns: 30% 70%;
        padding: 0;
        gap: 0;

        h1 {
            font-size: 2.91rem;
            justify-self: center;
        }

        .nav-right {
            background-color: maroon;
            display: block;
            height: 100%;

            ul {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: 100%;
                font-family: "Roboto", sans-serif;
                height: 100%;

                a {
                    align-items: center;
                    color: white;
                    display: flex;
                    justify-content: center;
                    text-decoration: none;

                    &:hover {
                        color: #fec260;
                    }
                }
            }
        }

        .hamburger {
            display: none;
        }
    }

    main {
        .main-line {
            height: 80px;

            h2 {
                font-size: 25px;
            }
        }

        .gallery {
            height: 250px;
            padding-left: 45px;
        }

        .section1,
        .section2 {
            height: 1000px;

            .details-container {
                h2 {
                    font-size: 30px;
                }
            }
        }

        .line {
            height: 80px;

            h3 {
                font-size: 25px;
            }
        }
    }

    div.aside-container {
        aside {
            &.article1,
            &.article2 {
                height: 1000px;

                div {
                    &.content {
                        padding: 0 40px;

                        p {
                            font-size: 28px;
                        }
                    }
                }
            }

            &.aside-line {
                height: 30px;
            }

            &.main-line {
                height: 80px;

                h2 {
                    font-size: 23px;
                }
            }
        }
    }

    section.act {
        height: 380px;

        .republic {
            p {
                font-size: 25px;
                font-family: "Open Sans", serif;
                padding: 0 40px;
                margin-top: 80px;
                margin-bottom: 40px;
            }
        }
    }

    footer {
        &.footer-top {
            height: 80px;

            h3 {
                font-size: 25px;
            }
        }

        &.footer-main {
            height: 280px;
        }
    }
}
@media screen and (min-width: 900px) {
    header {
        background-color: #7d1935;
        grid-template-columns: 30% 70%;
        padding: 0;
        gap: 0;

        h1 {
            font-size: 56px;
        }

        .nav-right {
            background-color: maroon;
            display: block;
            height: 100%;
        }

        .hamburger {
            display: none;
        }
    }

    main {
        .main-line {
            height: 80px;

            h2 {
                font-size: 25px;
            }
        }

        .gallery {
            height: 250px;
            padding-left: 45px;
        }

        .section1,
        .section2 {
            height: 1000px;

            .details-container {
                h2 {
                    font-size: 30px;
                }
            }
        }

        .line {
            height: 80px;

            h3 {
                font-size: 25px;
            }
        }
    }

    div.aside-container {
        aside {
            &.article1,
            &.article2 {
                height: 1000px;

                div {
                    &.content {
                        padding: 0 40px;

                        p {
                            font-size: 28px;
                        }
                    }
                }
            }

            &.aside-line {
                height: 30px;
            }

            &.main-line {
                height: 80px;

                h2 {
                    font-size: 23px;
                }
            }
        }
    }

    section.act {
        height: 380px;

        .republic {
            p {
                font-size: 25px;
                font-family: "Open Sans", serif;
                padding: 0 40px;
                margin-top: 80px;
                margin-bottom: 40px;
            }
        }
    }
}
@media screen and (min-width: 1100px) {
    header {
        background-color: #7d1935;
    }
    main {
        .gallery {
            height: 320px;
            padding-left: 65px;
        }
        section {
            &.section1,
            &.section2 {
                display: flex;
                flex-direction: row;
                height: 500px;
                margin-top: 30px;
            }

            &.section1 {
                .img-container {
                    &:hover {
                        transform: rotateZ(20deg);
                    }
                }
            }

            &.section2 {
                flex-direction: row-reverse;

                .img-container {
                    &:hover {
                        transform: rotateZ(-20deg);
                    }
                }
            }

            div {
                &.img-container {
                    flex-basis: 40%;
                    margin-right: 30px;
                    margin-left: 30px;
                    margin-bottom: 100px;
                    transition: transform 500ms;
                }

                &.details-container {
                    align-items: center;
                    border-bottom: 5px solid maroon;
                    display: flex;
                    flex-basis: 60%;
                    flex-direction: column;
                    justify-content: center;
                    margin-bottom: 30px;

                    & > * {
                        text-align: center;
                        width: 60%;
                    }

                    h2 {
                        color: maroon;
                        font-size: 30px;
                    }
                    p {
                        align-items: flex-end;
                        color: #fec260;
                        font-size: 30px;
                        display: flex;
                        justify-content: flex-end;
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    div.aside-container {
        aside {
            &.article1,
            &.article2 {
                display: flex;
                height: 200px;
                width: 100%;

                img {
                    height: 100%;
                    width: 100%;
                }

                div {
                    &.image-container {
                        height: 100%;
                        flex-basis: 40%;
                    }

                    &.content {
                        align-items: center;
                        display: flex;
                        height: 100%;
                        justify-content: center;
                        flex-basis: 60%;

                        p {
                            color: maroon;
                            font-size: 30px;
                            line-height: 45px;
                            text-align: center;
                        }
                    }
                }
            }

            &.aside-line {
                background-color: maroon;
                height: 10px;
                width: 100%;
            }

            &.article2 {
                flex-direction: row-reverse;
            }
        }
    }

    .main-line {
        align-items: center;
        color: #fec260;
        display: flex;
        background-color: maroon;
        font-family: "Open Sans", sans-serif;
        height: 60px;
        text-align: center;
        justify-content: center;
    }
}
@media screen and (min-width: 1500px) {
    header {
        background-color: #7d1935;
    }
    main {
        .gallery {
            height: 380px;
            padding-left: 85px;
        }
        section {
            &.section1,
            &.section2 {
                display: flex;
                flex-direction: row;
                height: 500px;
                margin-top: 30px;
            }

            &.section1 {
                .img-container {
                    &:hover {
                        transform: rotateZ(20deg);
                    }
                }
            }

            &.section2 {
                flex-direction: row-reverse;

                .img-container {
                    &:hover {
                        transform: rotateZ(-20deg);
                    }
                }
            }

            div {
                &.img-container {
                    flex-basis: 40%;
                    margin-right: 30px;
                    margin-left: 30px;
                    margin-bottom: 100px;
                    transition: transform 500ms;
                }

                &.details-container {
                    align-items: center;
                    border-bottom: 5px solid maroon;
                    display: flex;
                    flex-basis: 60%;
                    flex-direction: column;
                    justify-content: center;
                    margin-bottom: 30px;

                    & > * {
                        text-align: center;
                        width: 60%;
                    }

                    h2 {
                        color: maroon;
                        font-size: 30px;
                    }
                    p {
                        align-items: flex-end;
                        color: #fec260;
                        font-size: 30px;
                        display: flex;
                        justify-content: flex-end;
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    div.aside-container {
        aside {
            &.article1,
            &.article2 {
                display: flex;
                height: 400px;
                width: 100%;

                img {
                    height: 100%;
                    width: 100%;
                }

                div {
                    &.image-container {
                        height: 100%;
                        flex-basis: 40%;
                    }

                    &.content {
                        align-items: center;
                        display: flex;
                        height: 100%;
                        justify-content: center;
                        flex-basis: 60%;

                        p {
                            color: maroon;
                            font-size: 30px;
                            line-height: 45px;
                            text-align: center;
                        }
                    }
                }
            }

            &.aside-line {
                background-color: maroon;
                height: 10px;
                width: 100%;
            }

            &.article2 {
                flex-direction: row-reverse;
            }
        }
    }

    .main-line {
        align-items: center;
        color: #fec260;
        display: flex;
        background-color: maroon;
        font-family: "Open Sans", sans-serif;
        height: 60px;
        text-align: center;
        justify-content: center;
    }
}
