$mustard: #fec260;
$maroon: #7d1935;

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: $maroon;
    border: 1px solid black;
    box-sizing: border-box;
    color: $mustard;
    display: grid;
    gap: 20px;
    grid-template-columns: calc(100% - 80px) 60px;
    height: 80px;
    padding: 10px;

    h1 {
        align-items: center;
        display: flex;
        font-size: 2.67rem;
        font-family: "Rajdhani", serif;
    }

    .nav-right {
        display: none;
    }

    .hamburger {
        background-color: $maroon;
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;

        div {
            background-color: $mustard;
            border-radius: 5px;
            box-shadow: 0 0 3px black;
            height: 8px;
        }
    }
}
main {
    &.image-container {
        height: 180px;
        img {
            height: 100%;
            width: 100%;
        }
    }
    &.main-line {
        background-color: $maroon;
        height: 20px;
        width: 100%;
    }
    div {
        align-items: center;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        margin: 15px;

        h1 {
            font-weight: 600;
            font-size: 26px;
            color: $maroon;
        }
    }
}
section {
    margin: 10px;

    &#gallery {
        background-color: $mustard;
        border: 3px solid black;
        display: inline-block;
        overflow: hidden; /* clip the excess when child gets bigger than parent */
    }
    &#gallery img {
        display: block;
        transition: transform 0.6s; /* smoother zoom */
        height: 100%;
        width: 100%;
    }
    &#gallery:hover img {
        transform: scale(1.2);
        transform-origin: 50% 50%;
    }
    div {
        margin: 20px;
        display: flex;
        justify-content: center;

        a {
            color: black;
            background-color: whitesmoke;
            border: 2px solid $maroon;
            text-decoration: none;
            padding: 10px;

            transition: background-color 2ms, color 2ms;
        }
        a:hover {
            background-color: $maroon;
            color: white;
        }
    }
}
aside {
    &.aside-line {
        background-color: $maroon;
        height: 20px;
        width: 100%;
    }

    &.testimonial {
        text-align: center;

        p {
            font-family: "Open Sans", sans-serif;
            padding: 20px;
        }
    }
}
footer {
    &.footer-top {
        align-items: center;
        background-color: #7d1935;
        display: flex;
        height: 50px;
        justify-content: center;

        h3 {
            color: #fec260;
            font-size: 14px;
            font-family: "Open Sans", serif;
        }
    }

    &.footer-main {
        background-color: #fec260;
        height: 230px;
        width: 100%;

        ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 5px;
            margin: 0 20px;
            padding-top: 5px;

            a {
                color: white;
                font-size: 14px;
                font-family: "Open Sans", sans-serif;
                text-decoration: none;
                text-align: center;
                padding: 5px;

                &:hover {
                    color: #7d1935;
                }
            }

            a:nth-child(2),
            a:nth-child(5) {
                border-right: 2px solid #7d1935;
                border-left: 2px solid #7d1935;
            }
        }

        div {
            &.up {
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                height: 80px;
                width: 100%;

                p {
                    font-family: "Open Sans", serif;
                    font-size: 14px;
                }
            }

            &.down {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                margin: 50px;
                text-align: center;

                p {
                    font-family: "Open Sans", serif;
                    font-size: 14px;
                }

                p:nth-child(2) {
                    border-left: 2px solid #7d1935;
                }
            }
        }
    }
}
@media screen and (min-width: 400px) {
    main {
        &.image-container {
            height: 215px;
        }
        div {
            margin: 15px;

            h1 {
                font-size: 28px;
            }
        }
    }
    footer {
        &.footer-top {
            h3 {
                font-size: 17px;
            }
        }
    }
}
@media screen and (min-width: 500px) {
    main {
        &.image-container {
            height: 250px;
        }
        div {
            margin: 15px;

            h1 {
                font-size: 30px;
            }
        }
    }
    footer {
        &.footer-top {
            h3 {
                font-size: 18px;
            }
        }
    }
}
@media screen and (min-width: 600px) {
    header {
        h1 {
            font-size: 49px;
        }
    }
    main {
        &.image-container {
            height: 260px;
        }
        div {
            h1 {
                font-size: 35px;
            }
        }
    }
}
@media screen and (min-width: 700px) {
    header {
        background-color: #7d1935;
        grid-template-columns: 30% 70%;
        padding: 0;
        gap: 0;

        h1 {
            font-size: 45px;
            justify-self: center;
        }

        .nav-right {
            background-color: #7d1935;
            display: block;
            height: 100%;

            ul {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: 100%;
                font-family: "Roboto", sans-serif;
                height: 100%;

                a {
                    align-items: center;
                    color: white;
                    display: flex;
                    justify-content: center;
                    text-decoration: none;

                    &:hover {
                        color: #fec260;
                    }
                }
            }
        }

        .hamburger {
            display: none;
        }
    }
    main {
        &.image-container {
            height: 320px;
        }
        div {
            &.about {
                h2 {
                    border-radius: 4em / 5em;
                    width: 100%;
                    font-size: 23px;
                    padding: 0 20px;
                    text-align: center;
                }
            }
            &.content {
                p {
                    font-size: 19px;
                    margin-bottom: 10px;
                    margin-top: 20px;
                }
            }
        }
        &.main-line {
            background-color: $maroon;
            height: 30px;
        }
    }
    aside {
        &.testimonial {
            p {
                font-size: 25px;
                padding: 20px;
            }
        }
    }
}
@media screen and (min-width: 800px) {
    main {
        &.image-container {
            height: 400px;
        }
    }
}
@media screen and (min-width: 900px) {
    main {
        &.image-container {
            height: 440px;
        }
    }
}
@media screen and (min-width: 1000px) {
    main {
        &.image-container {
            height: 480px;
        }
    }
}
@media screen and (min-width: 1100px) {
    header {
        h1 {
            font-size: 55px;
        }
    }
    main {
        &.image-container {
            height: 510px;
        }
    }
}
@media screen and (min-width: 1200px) {
    header {
        h1 {
            font-size: 60px;
        }
    }
    main {
        &.image-container {
            height: 530px;
        }
    }
}
@media screen and (min-width: 1200px) {
    header {
        h1 {
            font-size: 62px;
        }
    }
    main {
        &.image-container {
            height: 590px;
        }
    }
}
@media screen and (min-width: 1300px) {
    header {
        h1 {
            font-size: 63px;
        }
    }
    main {
        &.image-container {
            height: 610px;
        }
    }
}
@media screen and (min-width: 1400px) {
    header {
        height: 100px;
        h1 {
            font-size: 56px;
        }
    }
    main {
        &.image-container {
            height: 680px;
        }
    }
    section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-self: center;
        &#gallery {
            &#gallery img {
                margin-bottom: 60px;
                height: 350px;
                width: 380px;
            }
        }
    }
}
@media screen and (min-width: 1500px) {
    header {
        height: 100px;
    }
}
